* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.section_title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: #AF473C;
}
.section_title a {
  color: #AF473C;
  text-decoration: none;
}
.section_title a:hover {
  color: #7c332d;
  text-decoration: none;
}

.header_underline {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  margin-top: 10px;
  background-color: black;
}

.aboutus {
  margin-top: 75px;
}
.aboutus .aboutus_width {
  width: auto;
  height: auto;
  padding: 0 10px;
}
.aboutus .aboutus_width .aboutus_text {
  margin: 25px 0;
  font-size: 16px;
}
.aboutus .aboutus_width .aboutus_text:last-of-type {
  display: none;
  margin-bottom: 0;
}

.services {
  margin-top: 50px;
}
.services .services_width {
  width: 100%;
  padding: 0 25px;
}
.services .services_width .service_card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.services .services_width .service_card_container .card {
  display: block;
  width: auto;
  margin-top: 25px;
}
.services .services_width .service_card_container .card .card_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: auto;
}
.services .services_width .service_card_container .card .card_corporate {
  background-image: url(../IMG/Homepage_images/corporate.jpg);
}
.services .services_width .service_card_container .card .card_weddings {
  background-image: url(../IMG/Homepage_images/Wedding.jpg);
}
.services .services_width .service_card_container .card .card_events {
  background-image: url(../IMG/Homepage_images/events.jpg);
}
.services .services_width .service_card_container .card .card_title {
  text-align: center;
  text-transform: uppercase;
  color: #AF473C;
  font-size: 24px;
}
.services .services_width .service_card_container .card .card_title_underline {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  margin-top: 0;
  background-color: black;
  margin: 0 auto 10px;
}
.services .services_width .service_card_container .card .card_text {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .section_title {
    font-size: 36px;
  }

  .header_underline {
    width: 185px;
  }

  .aboutus {
    margin-top: 50px;
  }
  .aboutus .aboutus_width {
    width: 725px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus .aboutus_width .aboutus_text:last-of-type {
    display: block;
  }

  .services .services_width {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  .services .services_width .service_card_container {
    justify-content: space-evenly;
    padding: 0;
  }
  .services .services_width .service_card_container .card {
    display: block;
    width: 360px;
    padding: 0 0;
    margin-top: 0px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 202px;
    width: 360px;
  }
  .services .services_width .service_card_container .card .card_title {
    font-size: 24px;
  }
  .services .services_width .service_card_container .card:last-of-type {
    margin-top: 25px;
  }
}
@media screen and (min-width: 975px) {
  .aboutus .aboutus_width {
    width: 950px;
  }

  .services .services_width {
    width: 950px;
  }
  .services .services_width .service_card_container {
    justify-content: space-between;
  }
  .services .services_width .service_card_container .card {
    width: 310px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 174px;
    width: 310px;
  }
  .services .services_width .service_card_container .card:last-of-type {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1260px) {
  .aboutus .aboutus_width {
    width: 1235px;
  }

  .services .services_width {
    width: 1235px;
  }
  .services .services_width .service_card_container .card {
    width: 390px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 225px;
    width: 390px;
  }
}
#mapid {
  height: 170px;
  width: 80%;
  margin: 0px auto;
}

#first_name.error {
  border: 1px solid red;
}

#firstLabel.error {
  color: red;
  font-size: 1rem;
}

#lastLabel.error {
  color: red;
  font-size: 1rem;
}

#last_name.error {
  border: 1px solid red;
}

#message-contact.error {
  border: 1px solid red;
}

#gdpr {
  accent-color: #AF473C;
}

#email.error {
  border: 1px solid red;
}

#email-label.error {
  color: red;
  font-size: 1rem;
}

#email-message {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
  display: none;
  transition: 0.3s ease all;
}

#email-message.shown {
  display: block;
}

#telephone.error {
  border: 1px solid red;
}

#phone-label.error {
  color: red;
  font-size: 1rem;
}

#phone-message {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
  display: none;
  transition: 0.3s ease all;
}

#phone-message.shown {
  display: block;
}

#button-message {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
  display: none;
  transition: 0.3s ease all;
}

#button-message.shown {
  display: block;
}

.contact-section .flex-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px;
}
.contact-section .flex-contact .split1 span {
  width: 125px;
}
.contact-section .flex-contact .split2 span {
  width: 85px;
}
.contact-section .flex-contact .flex-outer {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.contact-section .flex-contact .flex-outer > li {
  flex-basis: 100%;
}
.contact-section .flex-contact .flex-outer > li:not(:nth-child(6)) {
  margin-bottom: 20px;
}
.contact-section .flex-contact .flex-outer > li > label {
  flex: 1 0 120px;
}
.contact-section .flex-contact input[type=text],
.contact-section .flex-contact input[type=email],
.contact-section .flex-contact input[type=number] {
  border: 1px solid #9c9191;
  border-radius: 4px;
  width: 90%;
  height: 28px;
}
.contact-section .flex-contact #message-contact {
  height: 200px;
  width: 95%;
  resize: none;
}
.contact-section .flex-contact input[type=button] {
  width: 100%;
  height: 42px;
  background: #AF473C;
  border: 1px solid #9C9191;
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #fff;
  text-transform: uppercase;
  transition: 0.15s ease background-color, 0.3s transform;
}
.contact-section .flex-contact input[type=button]:hover {
  transform: scale(0.95);
  box-shadow: 0 0 3px grey;
  background-color: #a04137;
}

@media screen and (min-width: 750px) {
  .contact-section .flex-contact .split1 span {
    width: 230px;
  }
  .contact-section .flex-contact .split2 span {
    width: 160px;
  }
  .contact-section .flex-contact .flex-outer > li:nth-child(-n+5) {
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
  }
  .contact-section .flex-contact .flex-outer > li:nth-child(5) {
    flex-basis: 100%;
    width: 100%;
  }
  .contact-section .flex-contact .flex-outer > li:nth-child(5) input {
    width: 95%;
  }
  .contact-section .flex-contact .flex-outer > li:nth-child(n+6) {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1260px) {
  .contact-section .flex-contact {
    flex-direction: row;
    justify-content: center;
  }
  .contact-section .flex-contact .split1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-section .flex-contact .split1 .section_title {
    width: auto;
  }
  .contact-section .flex-contact .split1 span {
    width: 230px;
  }
  .contact-section .flex-contact .split1, .contact-section .flex-contact .split2 {
    flex-basis: 50%;
  }
}
.services {
  margin-top: 50px;
}
.services .services_width {
  width: 100%;
  padding: 0 25px;
}
.services .services_width .service_card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.services .services_width .service_card_container .card {
  display: block;
  width: auto;
  margin-top: 25px;
}
.services .services_width .service_card_container .card .card_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: auto;
}
.services .services_width .service_card_container .card .card_corporate {
  background-image: url(../IMG/Homepage_images/partner-quarr.png);
}
.services .services_width .service_card_container .card .card_weddings {
  background-image: url(../IMG/Homepage_images/partner-pabulum.jpeg);
}
.services .services_width .service_card_container .card .card_events {
  background-image: url(../IMG/Homepage_images/partner-mountjoy.jpeg);
}
.services .services_width .service_card_container .card .card_title {
  text-align: center;
  text-transform: uppercase;
  color: #AF473C;
  font-size: 24px;
}
.services .services_width .service_card_container .card .card_title_underline {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  margin-top: 0;
  background-color: black;
  margin: 0 auto 10px;
}
.services .services_width .service_card_container .card .card_text {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .section_title {
    font-size: 36px;
  }

  .header_underline {
    width: 185px;
  }

  .services .services_width {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  .services .services_width .service_card_container {
    justify-content: space-evenly;
    padding: 0;
  }
  .services .services_width .service_card_container .card {
    display: block;
    width: 360px;
    padding: 0 0;
    margin-top: 0px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 202px;
    width: 360px;
  }
  .services .services_width .service_card_container .card .card_title {
    font-size: 24px;
  }
  .services .services_width .service_card_container .card:last-of-type {
    margin-top: 25px;
  }
}
@media screen and (min-width: 975px) {
  .services .services_width {
    width: 950px;
  }
  .services .services_width .service_card_container {
    justify-content: space-between;
  }
  .services .services_width .service_card_container .card {
    width: 310px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 174px;
    width: 310px;
  }
  .services .services_width .service_card_container .card:last-of-type {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1260px) {
  .services .services_width {
    width: 1235px;
  }
  .services .services_width .service_card_container .card {
    width: 390px;
  }
  .services .services_width .service_card_container .card .card_image {
    height: 225px;
    width: 390px;
  }
}/*# sourceMappingURL=styles.css.map */