p {
    margin: 0px;
    margin-bottom: 15px;
}

.description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;

    .part-title {
        font-size: 24px;
        text-transform: uppercase;
        color: $red;

    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

     .header_underline {
         margin-bottom: 10px;
     }

}

.about-content{
    img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        @include media-ie {
            width: 400px;
            height: auto;
            align-self: center;
            overflow: hidden;
        }
    }

    .description {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .extra-text {
        display: none
    }

}

.profile-container{
    position: relative;
    margin: 15px;
    

    .profileCards{
        text-align: center;
        display: flex;
        flex-direction: column;
    }


.profCard{
    

    img{
        width: 350px;
       
    }

    h2{
        color: $red;
    }

    h3{
        margin-bottom: 10px;
    }

}
}


//760px breakpoint 

@include mq('sm'){
.description-section {
        align-items: center;
        width: 750px;

        .description {
            width: 40%;
            margin: 0 20px;

            @include media-ie {
                width: 10%;
            }

        
        }

        .about-content {
            flex-direction: row;
    
        }

        .profileSection{
            flex-direction: column;
        }

        img {
            width: 400px;
            height: 400px;
            overflow: hidden;
            margin-top: -40px;
        }

        h2{
            margin-left: 15px;
        }

        .header_underline{
            margin-left: 15px;
        }

        .alt-row {
            flex-direction: row-reverse;
            align-self: flex-end;
            text-align: right;

            @include media-ie {
                align-self: flex-start;
                flex-direction: row;
            }

            img{
                margin-top: 8px;
            }
        }
    }

    .profile-container{
       position: relative;
       margin-top: 60px;

       .profileCards{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

       }

       .profCard{
       img{
           width: 200px;
           height: auto;
       }

       h3{
           margin-bottom: 50px;
       }
    }

    }
}

