p {
    margin: 0px;
    margin-bottom: 15px;
}

.description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;

    .part-title {
        font-size: 24px;
        text-transform: uppercase;
        color: $red;

    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

     .header_underline {
         margin-bottom: 10px;
     }

}

.about-content{
    img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        @include media-ie {
            width: 400px;
            height: auto;
            align-self: center;
            overflow: hidden;
        }
    }

    .description {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .extra-text {
        display: none
    }

}

.profile-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
    

    .profileCards{
        text-align: center;
    }


.profCard{
    display: block;
    width: auto;
    margin-top: 25px;

    .prof-card-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        width: auto;
        margin-bottom: 40px;
    }

    .prof-card-text h2{
        color: $red;
    }

}
}

.card1 h2{
    margin-top: -20px;
}

.card6 h2{
    margin-top: 80px;
}

//760px breakpoint 

@include mq('sm'){
.description-section {
        align-items: flex-start;

        .description {
            width: 40%;
            margin: 0 20px;

            @include media-ie {
                width: 10%;
            }

        
        }

        .about-content {
            flex-direction: row;
        }

        img {
            width: 400px;
            height: 400px;
            overflow: hidden;
            margin-top: -40px;
        }

        h2{
            margin-left: 15px;
        }

        .header_underline{
            margin-left: 15px;
        }

        .alt-row {
            flex-direction: row-reverse;
            align-self: flex-end;
            text-align: right;

            @include media-ie {
                align-self: flex-start;
                flex-direction: row;
            }

            img{
                margin-top: 8px;
            }
        }
    }

    .profile-container{
       position: relative;
       display: flex;
       flex-direction: row;
       
       .profCard{
           display: flex;
           flex-direction: row;
            width: auto;
            height: auto;
            margin-top: 25px;
            margin-bottom: 50px;
       }

       .prof-card-img {
           position: relative;
           background-repeat: no-repeat;
    
       }
    }
}

