p {
    margin: 0px;
    margin-bottom: 15px;
}


.description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0 auto;
    
  

    .part-title {
        font-size: 24px;
        text-transform: uppercase;
        color: $red;

    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

     .header_underline {
         margin-bottom: 10px;
     }

}

.about-content{
    margin: 0 auto;
    img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        @include media-ie {
            width: 400px;
            height: auto;
            align-self: center;
            overflow: hidden;
        }
    }

    .description {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .extra-text {
        display: none
    }

}

.profile-container{
    position: relative;
    margin: 15px;
    

    .profileCards{
        text-align: center;
        display: flex;
        flex-direction: column;
    }


.profCard{
    

    img{
        width: 300px;
       
    }

    h2{
        color: $red;
    }

    h3{
        margin-bottom: 10px;
    }

}
}


//760px breakpoint 

@include mq('sm'){
.description-section {
        
        width: 750px;

        .description {
            width: 40%;
            margin: 0 20px;

            @include media-ie {
                width: 70%;
            }
        
        }

        

        .about-content {
            flex-direction: row;
            
    
        }

        .profileSection{
            flex-direction: column;
        }

        img {
            width: 450px;
            height: 300px;
            overflow: hidden;
            
        }

        h2{
            margin-left: 15px;
        }

        .header_underline{
            margin-left: 15px;
        }

        .alt-row {
            flex-direction: row-reverse;
            align-self: flex-end;
            text-align: right;

            @include media-ie {
                align-self: flex-start;
                flex-direction: row;
            }

            img{
                margin-top: 8px;
            }
        }
    }

    .profile-container{
       position: relative;
       

       .profileCards{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

       }

       .profCard{
       img{
           width: 200px;
           height: auto;
       }

       h3{
           margin-bottom: 50px;
       }
    }

    }
}



@include mq('md'){
    .description-section {
            
            width: 950px;

            .history{
                align-items: flex-end;
                margin-left: auto;
                margin-right: auto;
            }
    
            .description {
                width: 100%;
                margin: 0 20px;
    
                @include media-ie {
                    width: 70%;
                }

            }

            .team{
                .about-content{
                    flex-direction: row;

                    .description{
                        width: 50%;
                    }
                }
                }
                
    
            .about-content {
                flex-direction: row;
        
            }
    
            .profileSection{
                flex-direction: column;
            }
    
            img {
                width: 400px;
                height: 300px;
                overflow: hidden;
               
            }
    
            h2{
                margin-left: 15px;
            }
    
            .header_underline{
                margin-left: 15px;
            }
    
            .alt-row {
                flex-direction: row-reverse;
                align-self: flex-end;
                text-align: right;
    
                @include media-ie {
                    align-self: flex-start;
                    flex-direction: row;
                }
    
                img{
                    margin-top: 8px;
                }
            }
        }
    
        .profile-container{
           position: relative;
           
    
           .profileCards{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 700px;
    
           }
    
           .profCard{
           img{
               width: 200px;
               height: auto;
           }
    
           h3{
               margin-bottom: 50px;
           }
        }
    
        }
    }
    

    @include mq('lg'){
        .description-section {
                
                width: 1235px;
        
                .description {
                    width: 70%;
                    margin: 0 20px;
        
                    @include media-ie {
                        width: 60%;
                    }
                    
                
                }
                .history{

                }

        
                .about-content {
                    flex-direction: row;
                   

                    .extra-text{
                        display: block;
                    }
            
                }
        
                .profileSection{
                    flex-direction: column;
                }
        
                
        
                h2{
                    margin-left: 15px;
                }
        
                .header_underline{
                    margin-left: 15px;
                }
        
                .alt-row {
                    flex-direction: row-reverse;
                    align-self: flex-end;
                    text-align: right;
        
                    @include media-ie {
                        align-self: flex-start;
                        flex-direction: row;
                    }
        
                    img{
                        margin-top: 8px;
                    }
                }
            }
        
            .profile-container{
               position: relative;
               
        
               .profileCards{
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                
               }
        
               .profCard{
               img{
                   width: 200px;
                   height: 130px;
               }
        
               h3{
                   margin-bottom: 50px;
               }
            }
        
            }
        }
        
