body,
html {
    height: 100%;
    margin: 0;
}

/* The hero image */
.hero-image {
    /* Used "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Homepage_images/lobsterbanner.jpeg");

    /* Set height */
    height: 50vh;

    /* Positioned and centered the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 10px;
    color: white;
}

.hero-title-underline{
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: $white-text;
    margin: 0 auto 16px;

}