body,
html {
    height: 100%;
    margin: 0;
    padding: 0;

}

// Banner container
.banner-container{
position: relative;
}
/* The hero image */
.hero-image {
    /* Used "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/Homepage_images/lobsterbanner.jpeg");

    /* Set height */
    height: 50vh;

    /* Positioned and centered the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    text-align: right;
    color: white;
    position: absolute;
    top: 8px;
    right: 16px;
    margin-right: 20px;
    margin-top: 10px;

}
.hero-text h1{
    margin-top: 35px;
    font-size: 30px;
    text-transform: uppercase;
}
.hero-text p {
    font-size: 15px;
    margin-top: 40px;
    text-align: right;
}

.hero-title-underline{
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: $white-text;
    margin: 0 auto 16px;
    float: right;

}

.banner-button{
        background-color: $red;
        border: none;
        color: white;
        text-transform: uppercase;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
 }

.hero-contact a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;

}

.logo-text1{
    font-family: "la belle aurore";
    color: $red;
    padding-top: 5px;
    padding-left: 40px;
    font-size: 20px;
    text-shadow: $grey;
    padding-bottom: -50px;
}

.logo-text2{
    font-family: "Roboto";
    text-transform: uppercase;
    color: $white-text;
    padding-top: -100px;
    padding-left: 40px;
    font-size: 15px;

}