
.partners-img-container{
    margin-top: 50px;
    display: none;

        .partners-box {
            width: 725px;
            margin-right: auto;
            margin-left: auto;
    

        .partners-row {
            display: flex;
           flex-wrap: nowrap;
           justify-content: space-between;
           width: 725px;
           height: auto;
           margin: 50px auto;


            .partners-icon {
            display: block;
            width: 200px;
            height: 100px;

            .coloured{
                display: none;
                
            }

            &:hover{

                .grey{
                display: none;
                }
                .coloured{
                    display: block;
                }
            }
            
            img{
                
                max-height: 100%;
                max-width: 100%;
                overflow: hidden;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
               
                &:hover{
                    
                    
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);

                }
            }
        }
            
        }

    }   
}

//750px breakpoint

@include mq('sm'){

    .partners-img-container{
        display: block;
        padding: 0 8px;
    }

}
//980px breakpoint

@include mq('md') {

    .partners-img-container {
        .partners-box{
            width: 950px;

            .partners-row{
                width: 950px;

                .partners-icon{
                    width: 300px;
                    height: 150px;

                    
                }
            }
        }
    }

}

//media query for 1200px
@include mq('lg') {
    .partners-img-container {
        .partners-box{
            width: 1235px;

            .partners-row{
                width: 1200px;

                .partners-icon{
                    width: 350px;

                    
                }
            }
        }
    }


 
}

