*{
    margin: 0;
    padding: 0;
}
.partners-img-container{
    padding: 50px 0;
    display: none;


        .partners-box {
            padding-left: 20px;
            padding-right: 20px;
    

        .partners-row {
            display: flex;
            flex-direction: row;
            text-align: center;

            img {
                height: auto;
                width: 100%;
                border-style: none;

            }

            .partners-icon img{
                flex-grow: 1;
                padding: 0 20px;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);

                img:hover{
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                    
                }
            }
            
        }

    }   
}

//media query for 760px
@include mq('sm'){
    .partners-img-container {
        padding: 50px 0;
        display: block;
    
        .partners-box {
            padding-left: 30px;
            padding-right: 30px;


            .partners-row {
                display: flex;
                flex-direction: row;
                text-align: center;

                img {
                    height: auto;
                    width: 90%;
                    border-style: none;

                }

                .partners-icon img {
                    flex-grow: 1;
                    padding: 0 20px;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);

                    img:hover {
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);

                    }
                }

            }

        }
    }
}

//media query for 975px
@include mq('md') {
    .partners-img-container {
        padding: 50px 0;
        display: block;

        .partners-box {
            padding-left: 40px;
            padding-right: 40px;


            .partners-row {
                display: flex;
                flex-direction: row;
                text-align: center;

                img {
                    height: auto;
                    width: 90%;
                    border-style: none;

                }

                .partners-icon img {
                    flex-grow: 1;
                    padding: 0 20px;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);

                    img:hover {
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);

                    }
                }

            }

        }
    }
}

//media query for 1200px
@include mq('lg') {
    .partners-img-container {
        padding: 40px 0;
        display: block;

        .partners-box {
            padding-left: 50px;
            padding-right: 50px;


            .partners-row {
                display: flex;
                flex-direction: row;
                text-align: center;

                img {
                    height: auto;
                    width: 100%;
                    border-style: none;

                }

                .partners-icon img {
                    flex-grow: 1;
                    padding: 0 20px;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);

                    img:hover {
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);

                    }
                }

            }

        }
    }
}

