
.partners-img-container{
    margin-top: 50px;
    display: none;

        .partners-box {
            width: 725px;
            margin-right: auto;
            margin-left: auto;
    

        .partners-row {
            display: flex;
           flex-wrap: nowrap;
           justify-content: space-between;
           width: 725px;
           height: auto;
           margin: 50px auto;


            .partners-icon {
            display: block;
            width: 200px;

            
            img{
                object-fit: contain;
                height: 100px;
                width: 200px;
                overflow: hidden;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);

                }
            }
        }
            
        }

    }   
}

//750px breakpoint

@include mq('sm'){

    .partners-img-container{
        display: block;
        padding: 0 8px;
    }

}
//980px breakpoint

@include mq('md') {

    .partners-img-container {
        display: block;
        padding: 0 20px;
    }

}

//media query for 1200px
@include mq('lg') {
    .partners-img-container {
        display: block;
        padding: 0 -60px;

    }

 
}

