.testimonial-container-width{
    width: 80%;
    margin-left: auto;
    margin-right: auto;


    .header_underline{
        margin-bottom: 10px;
    }
    .testimonialCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .testCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            align-items: center;

            img{
                width: 240px;
                height: 200px;
                object-fit: cover;
                -o-object-fit: cover;
            }

            h2{
                color: $red;
                margin-bottom: 10px;
            }

            p{
                font-size: 12px;
                width: 70%;
            }
        }
    }

}

//750px breakpoint 

@include mq('sm'){

        .testimonial-container-width{
            width: 750px;
    
        .testimonialCards{
            margin-left: auto;
            margin-right: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        

            .testCard{
                max-width: 300px;
            
            }
        }
    }
}

//980px breakpoint 

@include mq('md') {

    .testimonial-container-width {
        width: 950px;

        .testimonialCards {
            
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;


            .testCard {
                width: 250px;

            }
        }
    }
}

//1050px breakpoint 

@include mq('lg') {

    .testimonial-container-width {
        width: 1050px;

        .testimonialCards {
            
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;


            .testCard {
                max-width: 220px;
                
            }
        }
    }
}