* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.partners-title h2{
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    color: #AF473C;
}

.partners-images img{
  max-width: 100%;
  height: 20px;     
 filter: grayscale(100%);
 -webkit-filter: grayscale(100%);

 transition: filter 600ms ease;
 -webkit-transition: -webkit-filter 600ms ease;
}

.partners-images img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
.partners-column {
    float: left;
    padding: 5px;
    width: 20%;
}

.partners-row::after {
    content: "";
    display: table;
    clear: both;
}

.partners-underline{
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    margin-top: 10px;
    background-color: black;
}




