* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.partners-title h2{
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    color: #AF473C;
}



.partners {
    margin-top: 50px;


    .services_width {
        width: 100%;
        padding: 0 25px;

        .partners-img-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 25px;

            .logos {
                display: block;
                width: auto;
                margin-top: 25px;

                .logo-image {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 250px;
                    width: auto;
                }

                .logo-quarr{
                    background-image: url(../IMG/Homepage_images/partner-quarr.png);
                }

                .logo-pabulum {
                    background-image: url(../IMG/Homepage_images/partner-pabulum.jpeg);
                }

                .logo-mountjoy{
                    background-image: url(../IMG/Homepage_images/partner-mountjoy.jpeg);
                }

                .card_title {
                    text-align: center;
                    text-transform: uppercase;
                    color: #AF473C;
                    font-size: 24px;
                }
            }
        }
    }
}

                          

