/* Targetting all elements in html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif, 'La Belle Aurore', cursive;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

/* Background color and styling to the top navigation */
.nav-container{
    width: 100%;
    height: auto;
    background-color: $red;
}
.hamburger{
    display: none;
}

.navbar{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
    z-index: 10;
}

#navbar-logo {
    display: none;
    color:$white-text;
    justify-self: start;
    font-family: 'La Belle Aurore', cursive;
}

#navbar-logo {
    cursor: pointer;
}

.nav-menu{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    text-align: center;
    width: 70%;
    float: right;
    color: #fff;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 200px;
    margin-left: 170px;
    font-size: 11px;
    z-index: 10;
    

}

/* Styled the links inside the navigation bar */
.nav-links  {
    
    padding: 15px 0;
    
    color:$white-text;
    text-decoration: none;
    text-transform: uppercase;
}

/* Changed the color of links on hover */
.nav-links:hover {
    background-color: $whitebackground;
    transition: all 0.2s ease-out;
    color: $text-grey;
    width: 100%;
}

/* Added a color to the active/current link */
.navbar li.active {
    background-color: $whitebackground;
    color: $text-grey;
    width: 100%;
}


// mobile menu 
@media screen and(max-width: 768px){
    .nav-container{
        position: relative;
    }

    .hamburger{
        display: block;
    }

    .nav-menu{
        flex-direction: column;
       background-color: $red;
       margin: 0;
       width: 100%;
       position: absolute;
       top: 80px;
       left: -100%;
       opacity: 0;
       transition: all 0.5s ease;
       font-size: 10px;
    }

    #navbar-logo{
        display: inline-block;
        margin-left: -360px;
    }

    #navbar-logo:hover{
        color: $grey;
    }

    .nav-menu.active{
        background: $red;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        width: 100%;
        margin-top: -30px;
    }

    .nav-links{
        text-align: center;
        
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        width: 100%;
        background-color: $whitebackground;
        color: $red;
        transition: all 0.4s ease-out;

    }

    .navbar{
        width: 100%;
    }

    #mobile-menu{
        margin-right: 40px;
        position: absolute;
        top: 12%;
        right: 5%;
        transform: translate(5%, 20%)
    }

    .menu-toggle .bar{
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: $whitebackground;
    }

    .menu-toggle:hover{
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

//menu bar at 1260px
@media screen and(min-width: 1260px) {
    .nav-container {
        position: relative;
        background-color: $red;
        

    }

    .hamburger{
        display: none;
    }

    .nav-menu {
        background-color: $red;
        margin: 0;
        width: 80%;
        position: absolute;
        float: right;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        padding-right: -250px;
        padding-left: 150px;
        font-size: 14px;
    }

    .nav-links {
        float: right;
        text-align: center;
        width: 100%;
    }

    .nav-links:hover {
        background-color: $whitebackground;
        color: $red;
        transition: all 0.4s ease-out;

    }

    .navbar {
        width: 100%;
    }

    @include media-ie{
        .nav-menu{
            padding: 0 20px;
            margin: auto;
            position: static;
        }
    }
}


// menu at 1400px (x-lg screen)
@media screen and(min-width: 1400px) {
    .nav-container {
        position: relative;
        background-color: $red;
        text-align: center;
    }

    .nav-menu {
        
        background-color: $red;
        width: 95%;
        position: absolute;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding-right: 150px;
        padding-left: 800px;
        font-size: 12px;
    }

    .nav-links {
        float: right;
        text-align: center;
        width: 100%;
        padding: 10px 20px;
    }

    .nav-links:hover {
        background-color: $whitebackground;
        color: $red;
        transition: all 0.4s ease-out;

    }

    .navbar {
        width: 100%;
    }
    .hamburger{
        display: none;
    }

    
    @include media-ie{
        .nav-menu{
            padding: 0 20px;
            margin: auto;
            position: static;
        }
    }
}

